---
import { Image, Picture } from "astro:assets";
import MainLayout from "src/layouts/MainLayout.astro";

import port05Img from "@images/post-05.png";
---

<MainLayout title="Imagenes">
  <h1 class="text-5xl text-white">Imagenes</h1>

  <h1>normal img</h1>
  <img
    loading="eager"
    src="/assets/images/post-05.png"
    width="250"
    height="250"
  />

  <h1>normal img like component</h1>
  <Image src={port05Img} width="250" height="250" alt="Imagen del post" />

  <h1>img with style</h1>
  <Image
    src={port05Img}
    style={{
      width: "250px",
      height: "250px",
    }}
    width="500"
    height="500"
    alt="Imagen del post"
  />

  <h1>img quality low</h1>
  <Image
    src={port05Img}
    quality="low"
    width="250"
    height="250"
    alt="Imagen del post"
  />

  <h1>img quality high</h1>
  <Image
    src={port05Img}
    quality="high"
    width="250"
    height="250"
    alt="Imagen del post"
  />

  <h1>FORMATOS</h1>
  <Image
    src={port05Img}
    format="avif"
    width="250"
    height="250"
    alt="Imagen del post"
  />

  <h1>Picture</h1>
  <!-- width="250"
  height="250" -->

  <!-- formats={['webp', 'avif', 'jpeg']} -->

  <!-- widths={[240, 540, 720, port05Img.width]}
  sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, ${port05Img.width}px`} -->
  <Picture
    src={port05Img}
    alt="Imagen del post"
    width={port05Img.width / 2}
    densities={[1.5, 2]}
    style={{
      width: "250px",
      height: "250px",
    }}
  />

  <div
    style={{
      height: "3000px",
    }}
  >
  </div>

  <img
    loading="lazy"
    src="/assets/images/post-05.png"
    width="250"
    height="250"
  />
</MainLayout>

<style>
  h1 {
    @apply text-white mt-10;
  }
</style>
